
/* почему-то это не работает 
  @media (width <= 1024){ }
*/
/* @media only screen and (max-width: 1024px) */
@media (max-width: 1024px){  
  .container{
    --c-widht: 942px;
  }

  /* hero */
  .hero {
    padding: 64px 0 58px;
    margin-bottom: 32px;
  }

  .hero__logo {
    width: 200px;
    margin-bottom: 45px;
  }
  .hero__title {
    font-size: 50px;
    margin-bottom: 32px;
  }
  .hero__link{
    top: -16px;
  }

  /* search */

  /* video-list */
  .video-list {
    padding: 60px 0;
  }
  
  .video-list__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .video-list__items {
    gap: 32px 17px;
  }
  
  .video-card__title {
    font-size: 20px;
  }
  
  .video-card__chanel {
    font-size: 16px;
  }
  
  .video-card__duration {
    font-size: 14px;
  }
  
  /* video */
  .video {
    padding-top: 60px;
  }
  
  .video__title {
    font-size: 32px;
  }
  .video__chanel {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .video__info {
    font-size: 20px;
  }
  .video__description {
    font-size: 20px;
  }
   
  /* footer */
  .footer {
    padding: 27px 0;
    font-size: 14px;
  }  
  .footer__container {
    grid-template-columns: 305px max-content;
  }  
}

@media (max-width: 768px){
  .container{
    --c-widht: 624px;
  }

  /* hero */
  .hero{
    padding-bottom: 42px;
  }
  .hero__link-text{
    position: fixed;
    transform: scale(0);
  }
  .hero__title{
    font-size: 40px;
  }

  /* search */

  /* video-list */
  .video-list__items {
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* video */

  /* footer */

}